# Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

# Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

# Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

# Задание 4 (необязательное)
Ваш коллега прислал код функции:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
""“
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
”""
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)

1
return default_list[DEFAULT_USER_COUNT-2]
При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором - нет?

In [ ]:
from datetime import timedelta
from datetime import datetime

In [ ]:
The_Moscow_Times = datetime.strptime("Wednesday, October 2, 2002", "%A, %B %d, %Y")
The_Moscow_Times

datetime.datetime(2002, 10, 2, 0, 0)

In [ ]:
The_Guardian = datetime.strptime("Friday, 11.10.13", "%A, %d.%m.%y")
The_Guardian

datetime.datetime(2013, 10, 11, 0, 0)

In [ ]:
Daily_News = datetime.strptime("Thursday, 18 August 1977", "%A, %d %B %Y") 
Daily_News

datetime.datetime(1977, 8, 18, 0, 0)

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
def сheckdate(dates):
    """
    Функция проверяет корректность дат
    """
    for date in dates:
        try:
            cdate = datetime.strptime(date, "%Y-%m-%d") 
        except:
            print(date, False)
        else:
            print(date, True)

In [ ]:
сheckdate(stream)

2018-04-02 True
2018-02-29 False
2018-19-02 False

In [ ]:
def list_of_date(start_date, end_date):
    """
    Функция выводит список дат за указанный период
    """
    date_list = []
    try:
        start_date = datetime.strptime(start_date, "%Y-%m-%d") 
        end_date = datetime.strptime(end_date, "%Y-%m-%d") 
    except:
        print(date_list) #pass
    else:
        while end_date >= start_date:
            date_list.append(datetime.strftime(start_date, "%Y-%m-%d"))
            start_date += timedelta(days=1)                
        print(date_list)

In [ ]:
list_of_date('2022-11-01','2022-12-01')

['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-05', '2022-11-06', '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10', '2022-11-11', '2022-11-12', '2022-11-13', '2022-11-14', '2022-11-15', '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-19', '2022-11-20', '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-24', '2022-11-25', '2022-11-26', '2022-11-27', '2022-11-28', '2022-11-29', '2022-11-30', '2022-12-01']

In [ ]:
list_of_date('2022-11-01','2021-11-35')

[]

list index out of range - обращение к списку по неверному индексу. 
В начале у нас есть 0, 1, 2 мы удаляем 2 и выводим 3 - 2 = 1.
При следующем запуске мы удаляем 1, но пытаемся его же и вывести, т.к. не меняем в функции DEFAULT_USER_COUNT