# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
import pandas as pd

In [ ]:
df_ratings = pd.read_csv('/content/drive/MyDrive/ratings.csv')

In [ ]:
def ratings(row):
    if float(row['rating']) <= 2:
        return 'Low'
    if float(row['rating']) <= 4:
        return 'Middle'
    return 'Highe'

In [ ]:
df_movies = pd.read_csv('/content/drive/MyDrive/movies.csv')

In [ ]:
df_ratings = df_ratings.groupby('movieId').agg({'rating':'mean'}).reset_index()
df_ratings.head()

   movieId    rating
0        1  3.872470
1        2  3.401869
2        3  3.161017
3        4  2.384615
4        5  3.267857

In [ ]:
df_ratings['level'] = df_ratings.apply(ratings, axis=1)
df_ratings = df_ratings.drop('rating', 1)
df_ratings.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

   movieId   level
0        1  Middle
1        2  Middle
2        3  Middle
3        4  Middle
4        5  Middle

In [ ]:
df_movies = df_movies.merge(df_ratings, on = 'movieId')
df_movies.head()

,movieId,title,genres,level
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Middle
1,2,Jumanji (1995),Adventure|Children|Fantasy,Middle
2,3,Grumpier Old Men (1995),Comedy|Romance,Middle
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Middle
4,5,Father of the Bride Part II (1995),Comedy,Middle

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [ ]:
df_keywords = pd.read_csv('/content/drive/MyDrive/keywords.csv')
df_keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [ ]:
def find_region(row):
    for i in geo_data.items():
        for a in i[1]:
            if a in row['keyword']:
                return  i[0]
    
    return 'undefined'

In [ ]:
df_keywords['region'] = df_keywords.apply(find_region, axis=1)
df_keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [ ]:
df_keywords[df_keywords['region'] == 'Центр'].head()

               keyword   shows region
127       авито москва  979292  Центр
849    авито ярославль  209581  Центр
1259            москва  153050  Центр
1396   гисметео москва  140279  Центр
1482  госуслуги москва  133061  Центр