# Задание 1

Ответьте на следующие вопросы:

Как критики относятся к спортивным играм?

Критикам нравятся больше игры на PC или на PS4?

Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

сформулируйте нулевую и альтернативную гипотезы; выберите пороговый уровень статистической значимости; опишите полученные результаты статистического теста.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/vgsales.csv')
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

Среднее по всем играм - 70, так что ставим условие выше этого среднего

H0: средняя удовлетворенность критиками спортивными играми <= 70

H1: средняя удовлетворенность критиками спортивными играми более 70

In [ ]:
df_sport = df.loc[(df['Genre'] == 'Sports')&(df['Critic_Score'] > 0)]
df_sport.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,Nintendo,E
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.12,6.12,0.06,1.28,8.57,82.0,42.0,4.3,896.0,EA Sports,E

In [ ]:
from scipy import stats as st
alpha = 0.05
result = st.ttest_1samp(df_sport['Critic_Score'], 70, alternative='greater')

print(df_sport['Critic_Score'].mean())
print(result)

if result.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу, среднее больше 70 (игры нравятся)')
else:
    print('Не отвергаем нулевую гипотезу')

71.96817420435511
Ttest_1sampResult(statistic=4.900329475499578, pvalue=5.442744598708131e-07)
Отвергаем нулевую гипотезу, среднее больше 70 (игры нравятся)

Получается, что в среднем критики ставят высокие оценки спортивным играм

H0: оценки критиков игры на PC не отличаются от оценок игр на PS4

H1: оценки критиков игры на PC отличаются от оценок игр на PS4

In [ ]:
df_pc = df.loc[(df['Platform'] == 'PC')&(df['Critic_Score'] > 0)]
df_pc.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
85,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.99,6.42,0.00,0.60,8.01,86.0,75.0,7.6,886.0,The Sims Studio,T
138,World of Warcraft,PC,2004.0,Role-Playing,Activision,0.08,6.21,0.00,0.00,6.29,93.0,57.0,7.3,2182.0,Blizzard Entertainment,T
192,Diablo III,PC,2012.0,Role-Playing,Activision,2.44,2.16,0.00,0.54,5.14,88.0,86.0,4,9629.0,Blizzard Entertainment,M
218,StarCraft II: Wings of Liberty,PC,2010.0,Strategy,Activision,2.57,1.68,0.00,0.58,4.84,93.0,82.0,8.2,3052.0,Blizzard Entertainment,T
284,Half-Life,PC,1997.0,Shooter,Vivendi Games,4.03,0.00,0.09,0.00,4.12,96.0,24.0,9.1,3161.0,Valve Software,M

In [ ]:
df_ps = df.loc[(df['Platform'] == 'PS4')&(df['Critic_Score'] > 0)]
df_ps.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
42,Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,3.96,6.31,0.38,1.97,12.61,97.0,66.0,8.3,2899.0,Rockstar North,M
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.12,6.12,0.06,1.28,8.57,82.0,42.0,4.3,896.0,EA Sports,E
92,Call of Duty: Advanced Warfare,PS4,2014.0,Shooter,Activision,2.81,3.48,0.14,1.23,7.66,83.0,39.0,5.7,1443.0,Sledgehammer Games,M
94,FIFA 17,PS4,2016.0,Sports,Electronic Arts,0.66,5.75,0.08,1.11,7.59,85.0,41.0,5,398.0,"EA Sports, EA Vancouver",E
105,Fallout 4,PS4,2015.0,Role-Playing,Bethesda Softworks,2.53,3.27,0.24,1.13,7.16,87.0,58.0,6.5,4228.0,Bethesda Game Studios,M

In [ ]:
alpha = 0.05
result = st.ttest_ind(df_pc['Critic_Score'], df_ps['Critic_Score'], equal_var=False)

print('PC', df_pc['Critic_Score'].mean())
print('PS4', df_ps['Critic_Score'].mean())

print(result)

if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, критики по разному относятся к платформам')
else:
    print('Не отвергаем нулевую гипотезу, у критиков есть предпочтения между двумя платформами')

PC 75.92867132867133
PS4 72.09126984126983
Ttest_indResult(statistic=4.3087588262138725, pvalue=2.067249157283479e-05)
Отвергаем нулевую гипотезу, критики по разному относятся к платформам

In [ ]:
if (df_pc['Critic_Score'].mean() < df_ps['Critic_Score'].mean()):
    print('Критикам больше нравятся игры на PS4')
else:
    print('Критикам больше нравятся игры на PC')

Критикам больше нравятся игры на PC

pvalue меньше 0.05 - различия не существенны

H0: оценки критиков для стрелялок не отличаются от оценок стратегий

H1: оценки критиков для стрелялок отличаются от оценок стратегий

In [ ]:
df_action = df.loc[(df['Genre'] == 'Shooter')&(df['Critic_Score'] > 0)]
df_action.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
29,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.04,4.24,0.13,1.32,14.73,88.0,81.0,3.4,8713.0,"Infinity Ward, Sledgehammer Games",M
32,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.70,3.68,0.11,1.13,14.61,87.0,89.0,6.3,1454.0,Treyarch,M
34,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.73,0.65,2.42,13.79,83.0,21.0,5.3,922.0,Treyarch,M
35,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.24,0.07,1.12,13.67,83.0,73.0,4.8,2256.0,Treyarch,M
36,Call of Duty: Modern Warfare 2,X360,2009.0,Shooter,Activision,8.52,3.59,0.08,1.28,13.47,94.0,100.0,6.3,2698.0,Infinity Ward,M

In [ ]:
df_strategy = df.loc[(df['Genre'] == 'Strategy')&(df['Critic_Score'] > 0)]
df_strategy.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
218,StarCraft II: Wings of Liberty,PC,2010.0,Strategy,Activision,2.57,1.68,0.00,0.58,4.84,93.0,82.0,8.2,3052.0,Blizzard Entertainment,T
582,Halo Wars,X360,2009.0,Strategy,Microsoft Game Studios,1.54,0.80,0.04,0.24,2.62,82.0,92.0,7.2,454.0,Ensemble Studios,T
1078,Sid Meier's Civilization V,PC,2010.0,Strategy,Take-Two Interactive,0.98,0.52,0.00,0.17,1.68,90.0,70.0,7.9,2280.0,Firaxis Games,E10+
1095,StarCraft II: Heart of the Swarm,PC,2013.0,Strategy,Activision,0.83,0.66,0.00,0.18,1.67,86.0,68.0,7.9,1346.0,Blizzard Entertainment,T
1128,Pikmin,GC,2001.0,Strategy,Nintendo,0.78,0.25,0.56,0.04,1.63,89.0,39.0,8.7,121.0,Nintendo,E

In [ ]:
alpha = 0.05
result = st.ttest_ind(df_action['Critic_Score'], df_strategy['Critic_Score'], equal_var=False)

print('Shooter', df_action['Critic_Score'].mean())
print('Strategy', df_strategy['Critic_Score'].mean())

print(result)

if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к выбранным жанрам')
else:
    print('Не отвергаем нулевую гипотезу, у критиков есть предпочтения между двумя жанрами')

#pvalue меньше 0.05 - различия не существенны

Shooter 70.18114406779661
Strategy 72.08609271523179
Ttest_indResult(statistic=-2.2972408230640315, pvalue=0.021938989522304823)
Отвергаем нулевую гипотезу, критики по разному относятся к выбранным жанрам

In [ ]:
if (df_action['Critic_Score'].mean() < df_strategy['Critic_Score'].mean()):
    print('Критикам больше нравятся стратегии')
else:
    print('Критикам больше нравятся стрелялки')

Критикам больше нравятся стратегии

# *Задание 2*

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама. Для этого:

* Привидите весь текст к нижнему регистру;
* Удалите мусорные символы;
* Удалите стоп-слова;
* Привидите все слова к нормальной форме;
* Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer() tfidf_matrix = tfidf.fit_transform(df.Message) names = tfidf.get_feature_names() tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names) 

Можете поэкспериментировать с параметрами TfidfVectorizer;
* Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;
* Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;
* Опишите результаты при помощи confusion_matrix;
* Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
df['Message'] = df['Message'].str.lower()
df.head()

  Category                                            Message
0      ham  go until jurong point, crazy.. available only ...
1      ham                      ok lar... joking wif u oni...
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham  u dun say so early hor... u c already then say...
4      ham  nah i don't think he goes to usf, he lives aro...

In [ ]:
import re
df['Message'] = df['Message'].apply(lambda x: re.sub('[\W_]+', ' ', x))
df.head()

  Category                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...

In [ ]:
import nltk
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))
texts_splitted = [text.split() for text in df['Message']]
without_sw = [[word for word in text if word not in stopwords_set] for text in texts_splitted]

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('omw-1.4')
nltk.download('wordnet')

wordnet_lemmatizer = WordNetLemmatizer()
lemmatized_text = [[wordnet_lemmatizer.lemmatize(word) for word in text] for text in without_sw]

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
df['Message'] = [' '.join(row) for row in lemmatized_text]
df

     Category                                            Message
0         ham  go jurong point crazy available bugis n great ...
1         ham                            ok lar joking wif u oni
2        spam  free entry 2 wkly comp win fa cup final tkts 2...
3         ham                u dun say early hor u c already say
4         ham                nah think go usf life around though
...       ...                                                ...
5567     spam  2nd time tried 2 contact u u 750 pound prize 2...
5568      ham                        ü b going esplanade fr home
5569      ham                               pity mood suggestion
5570      ham  guy bitching acted like interested buying some...
5571      ham                                     rofl true name

[5572 rows x 2 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
X = tfidf_matrix 
y = df['Category']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
model.score(X_test, y_test)

0.958732057416268

In [ ]:
y_pred = model.predict(X_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(y_test, y_pred) 
# т.е. хорошее сообщение ошибочно 3 раза попало в спам, а спам 66 раз попал в хорошие

array([[1445,    3],
       [  66,  158]])

In [ ]:
df_new = df.iloc[y_test.index]
df_new= pd.DataFrame(df_new)
df_new['Calculate Category']=y_pred
df_new.head()

,Category,Message,Calculate Category
3245,ham,squeeeeeze christmas hug u lik frndshp den hug...,ham
944,ham,also sorta blown couple time recently id rathe...,ham
1044,ham,mmm thats better got roast b better drink 2 go...,ham
2484,ham,mm kanji dont eat anything heavy ok,ham
812,ham,ring come guy costume gift future yowifes hint...,ham

In [ ]:
df_new[df_new['Calculate Category'] != df_new['Category'] ]

,Category,Message,Calculate Category
2952,ham,hey free call,spam
881,spam,reminder downloaded content already paid goto ...,ham
1961,spam,guess somebody know secretly fancy wanna find ...,ham
3864,spam,oh god found number glad text back xafter msg ...,ham
2575,spam,next amazing xxx picsfree1 video sent enjoy on...,ham
...,...,...,...
4543,spam,freemsg hi baby wow got new cam moby wanna c h...,ham
752,spam,important customer service announcement premier,ham
309,spam,themob check newest selection content game ton...,ham
495,ham,free call,spam
305,spam,sm ac blind date 4u rodds1 21 aberdeen united ...,ham